<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYqR1YUSmAPPL8di2ux-_F_OUPg3nCVDg</string>
	<key>GCM_SENDER_ID</key>
	<string>963790548453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.Maximsvid.E-Bike-Manager</string>
	<key>PROJECT_ID</key>
	<string>e-bike-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>e-bike-manager.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963790548453:ios:71a6cb2dc6dee646fe130c</string>
</dict>
</plist>